* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
    background-color: rgba(236, 240, 241, 1.0);

}

.main{
    /*position: relative;*/
    min-height: 100vh;
}


.homepage-content{
    text-align: center;
    margin-top: 6em;
    font-family: inherit;
    color: #22292F;

}

header {
   height: 70px;
   background-color: #22292F;
   padding: 10px 0;
    /*z-index: 12142142147532654369875;*/
}

.menu-wrap {
   display: flex;
   /*justify-content: space-evenly;*/
   justify-content: space-between;
   padding: 0 15px;
}

.menu-wrap h1{
    /*visibility: hidden;*/
    color: floralwhite;
    font-size: 1.5em;
    display: flex;
    margin: auto auto;
}
.menu-wrap h1 a{
    text-decoration: none;
    color: floralwhite;
}

.menu-wrap h1 a:hover,.menu-wrap h1 a:focus{
    color: #eb6f4a;
    text-decoration: none;
}

.menu-wrap h1 a:visited{
    /*color: floralwhite;*/
    text-decoration: none;
}

#burger-menu {
   display: initial;
}


.logo-img {
   height: 50px;
}

.menu-icon {
   font-size: 2.4em;
   color: #ffffff;
   line-height: 50px;
   height: 50px;
}

nav {
   position: absolute;
   background-color: #3D4852;
   top:63px;
   left:0;
   width: 100%;
    z-index: 1;
}

nav ul {
   list-style-type: none;
   max-height: 0;
   overflow:hidden;
   transition: all 0.5s;
    position: relative;
    z-index: 2;
}

nav ul li {
   padding: 0 15px;
}

nav ul li a {
   display: inline-block;
   padding: 12px;
   color: #DAE1E7;
   text-decoration: none;
   letter-spacing: 0.05em;
}

nav ul li a:hover, nav ul li a:focus {
   color: #eb6f4a;
}


.product-nav {
   position: initial;
   left:0;
   width: 100%;
    background-color: rgb(230,230,230);
    padding: 30px 0;
}

.product-nav ul{
    display: flex;
}

.product-nav ul li {
    display: flex;
    margin: auto auto;
}

.product-nav ul li a {
    color: black;
    text-decoration: none;
}

#checkbox {
   display: none;
}

#checkbox:checked ~ nav ul {
    position: relative;
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 2;
}

/*For the items on sale*/

.product-box img {
    width:90%;
    display: block;
    margin: auto auto;
    max-width:150px;
}

.products {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    align-items: center;
}

.product-box {
    width:100%;
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgba(44, 62, 80, 1.0);
    margin-bottom: 0.5rem;
}

.product-box-heading {
    padding: 0.5rem;
}

.product-box-info {
    padding: 0.5rem;
    margin-top: 2em;
}

.product-box h3 {
    font-size: 1.2rem;
    text-align: center;
}

.product-box p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.product-box a {
    display: table;
    margin: 1em auto;
    background-color: #4CAF50;
    color: white;
    padding: 0.3rem 0.5rem;
    text-align: center;
    text-decoration: none;
}



/*For the signup*/

.register{
    text-align: center;
    margin-top: 2em;
}

.myform {
    margin: auto;
    padding:0 16px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-group {
    padding-top: 3rem;
    text-align:left;
}

.form-label {
    padding: 0.3rem;
    margin: auto;
}

.form-element {
    margin: auto;
}

.button-group {
    margin-top: 4rem;
    text-align: center;
}

.button-group input {
    padding: 0.3rem 0.5rem ;
    margin-left: 3rem;
    margin-right:3rem;
}


.form-group input {
    padding: 0.7rem;
    width: 100%;
    margin-top: 0.7rem;
}

.button-login{
  background-color: #4CAF50;
  border: 1px solid rgba(189, 195, 199, 1.0);
  color: white;
  padding: 0.3rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 3em;
  margin-right: 3em;
}

#signup{
    background-color: black;
    color: #fdd732;
}

.productContainer{
    padding: 0 25px;
    margin-bottom: 3em;
}

.viewitem{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}

.productinfo{
    flex-basis: 50%;
    min-width: 300px;
    padding: 20px;
}

.productinfo img{
    max-width: 100%;
    padding: 20px 0;
}

.smallContainer h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.smallContainer select{
    padding: 10px;
    margin-left:3em;
}

.smallContainer input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 3em;
    margin-top: 1.5em;
}

.smallContainer h3{
    margin-top: 1.5em;
}

.smallContainer p {
    margin-bottom: 1em;
}

.button-vproduct #view{
    margin-left: 2em;
}

.button-vproduct{
  text-decoration: none;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.return-button{
  text-decoration: none;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: indianred;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-right: 2em;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap:wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td a{
    text-decoration: none;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3em;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;

}

.cart-info p{
    display: none;
}

/*For bigger devices*/

@media (min-width: 850px) {
    #burger-menu {
      display: none;
    }
    .menu-wrap * {
        margin: auto;
    }

    .menu-wrap h1{
        visibility: visible;
        display: flex;
        margin: auto auto;
        color: floralwhite;
    }
    .menu-icon {
        display: none;
    }

    nav {
        position: initial;
        top: -10px;
        background-color: transparent;
        width: fit-content;

    }

    nav ul {
        max-height: 70px;
        text-align: right;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

    .products {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em 3em;
}

    .product-box {
    width: 32%;
    }


    .product-box-image {
        height: 150px;
        overflow: hidden;
    }


    .myform {
    width: 50%;
    margin-bottom: 1.5rem;
    }

    .form-label {
        width: 50%;
        padding: 0.3rem;
        text-align: center;
        display: block;
    }

    .form-element {
        width: 70%;
    }


    .form-group input {
        padding: 0.3rem;
        /*width: 100%;*/
    }

/*    For the view item*/

    .viewitem{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 3em;
    }


    .cart-info p{
        display: inherit;
    }

    .product-data{
        margin-left: 100px;
    }

}

