* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
    background-color: rgba(236, 240, 241, 1.0);
}

header {
   height: 70px;
   background-color: #22292F;
   padding: 10px 0;
}

.menu-wrap {
   display: flex;
   /*justify-content: space-evenly;*/
   justify-content: space-between;
   padding: 0 15px;
}

.menu-wrap h1{
    /*visibility: hidden;*/
    color: floralwhite;
    font-size: 1.5em;
    display: flex;
    margin: auto auto;

}

#burger-menu {
   display: initial;
}


.logo-img {
   height: 50px;
}

.menu-icon {
   font-size: 2.4em;
   color: #ffffff;
   line-height: 50px;
   height: 50px;
}

nav {
   position: absolute;
   background-color: #3D4852;
   top:67px;
   left:0;
   width: 100%;
}

nav ul {
   list-style-type: none;
   max-height: 0;
   overflow:hidden;
   transition: all 0.5s;
}

/*nav h1 {*/
/*    max-height: 0;*/
/*    overflow:hidden;*/
/*    */
/*}*/

nav ul li {
   padding: 0 15px;
}

nav ul li a {
   display: inline-block;
   padding: 12px;
   color: #DAE1E7;
   text-decoration: none;
   letter-spacing: 0.05em;
}

nav ul li a:hover, nav ul li a:focus {
   color: #eb6f4a;
}


.product-nav {
   /*display: flex;*/
    /*margin: auto auto;*/
   /*justify-content: space-evenly;*/
   /*justify-content: space-between;*/
   /*padding: 0 30px;*/
   position: initial;
   left:0;
   width: 100%;
    background-color: rgb(230,230,230);
    /*background-color: red;*/
    /*background-color: rgb(211,211,211);*/
    padding: 30px 0;
    /*display: flex;*/
}

.product-nav ul{
    /*display: inline-flex;*/
    display: flex;
}

.product-nav ul li {
    display: flex;
    margin: auto auto;
}

.product-nav ul li a {
    color: black;
    text-decoration: none;
}

#checkbox {
   display: none;
}

#checkbox:checked ~ nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
}




/*.item-nav{*/
/*    background-color: rgb(211,211,211);*/
/*    display: flex;*/
/*}*/

/*.item-nav ul {*/
/*    display: inline-flex;*/
/*    margin: auto auto*/
/*}*/


@media (min-width: 850px) {
    /*.menu-wrap{*/
    /*}*/
    #burger-menu {
      display: none;
    }
    .menu-wrap * {
        margin: auto;
    }

    .menu-wrap h1{
        visibility: visible;
        display: flex;
        margin: auto auto;
        color: floralwhite;
    }
    .menu-icon {
        display: none;
    }

    nav {
        position: initial;

        /*position: relative;*/
        top: -10px;
        background-color: transparent;
        width: fit-content;

    }

    nav ul {
        max-height: 70px;
        /*display: flex;*/
        /*margin: auto auto;*/
        /*padding: 15px 0;*/
        text-align: right;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

}

