* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
    background-color: rgba(236, 240, 241, 1.0);

}

header {
   height: 70px;
   background-color: #22292F;
   padding: 10px 0;
    /*z-index: 12142142147532654369875;*/
}

.menu-wrap {
   display: flex;
   /*justify-content: space-evenly;*/
   justify-content: space-between;
   padding: 0 15px;
}

.menu-wrap h1{
    /*visibility: hidden;*/
    color: floralwhite;
    font-size: 1.5em;
    display: flex;
    margin: auto auto;
}
.menu-wrap h1 a{
    text-decoration: none;
    color: floralwhite;
}

.menu-wrap h1 a:hover,.menu-wrap h1 a:focus{
    color: #eb6f4a;
    text-decoration: none;
}

.menu-wrap h1 a:visited{
    /*color: floralwhite;*/
    text-decoration: none;
}

#burger-menu {
   display: initial;
}


.logo-img {
   height: 50px;
}

.menu-icon {
   font-size: 2.4em;
   color: #ffffff;
   line-height: 50px;
   height: 50px;
}

nav {
   position: absolute;
   background-color: #3D4852;
   /* background-color: blue;*/
   /*background-color: #c0c0c0;*/
   /*background-color: white;*/
   top:63px;
   left:0;
   width: 100%;
    z-index: 1;
}

nav ul {
   list-style-type: none;
   max-height: 0;
   overflow:hidden;
   transition: all 0.5s;
    position: relative;
    z-index: 2;
}

/*nav h1 {*/
/*    max-height: 0;*/
/*    overflow:hidden;*/
/*    */
/*}*/

nav ul li {
   padding: 0 15px;
}

nav ul li a {
   display: inline-block;
   padding: 12px;
   color: #DAE1E7;
   text-decoration: none;
   letter-spacing: 0.05em;
}

nav ul li a:hover, nav ul li a:focus {
   color: #eb6f4a;
}


.product-nav {
   /*display: flex;*/
    /*margin: auto auto;*/
   /*justify-content: space-evenly;*/
   /*justify-content: space-between;*/
   /*padding: 0 30px;*/
   position: initial;
   left:0;
   width: 100%;
    background-color: rgb(230,230,230);
    /*background-color: red;*/
    /*background-color: rgb(211,211,211);*/
    padding: 30px 0;
    /*display: flex;*/
}

.product-nav ul{
    /*display: inline-flex;*/
    display: flex;
}

.product-nav ul li {
    display: flex;
    margin: auto auto;
}

.product-nav ul li a {
    color: black;
    text-decoration: none;
}

#checkbox {
   display: none;
}

#checkbox:checked ~ nav ul {
    position: relative;
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 2;
}

/*For the items on sale*/

.product-box img {
    /*max-width:200px;*/
}

.products {
    position: relative;
    /*z-index: -1;*/
    top: 80px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*justify-content: space-evenly;*/
    padding: 1em 3em;
    align-items: center;
}

.product-box {
    /*width: 13vw;*/
    width:100%;
    /*float: left;*/
    /*display: table-cell;*/
    /*padding: 0.5rem;*/
    /*margin: 1vw;*/
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgba(44, 62, 80, 1.0);
    margin-bottom: 0.5rem;
}

.product-box-heading {
    padding: 0.5rem;
}

.product-box-image {
    height: 150px;
    overflow: hidden;
}

.product-box-info {
    padding: 0.5rem;

}

.product-box h3 {
    font-size: 1.2rem;
    text-align: center;
}

.product-box p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.product-box a {
    border: 1px solid tomato;
    padding: 0.3rem;
    text-align: right;
}

/*For the signup*/

.register{
    text-align: center;
    margin-top: 2em;
}

.myform {
    /*width: 50%;*/
    margin: auto;
    /*padding-top: 3rem;*/
    padding:0 16px;
    width: 100%;
    margin-bottom: 1.5rem;


}

.form-group {
    padding-top: 3rem;
    text-align:left;
}

.form-label {
    /*width: 50%;*/
    /*float: left;*/
    padding: 0.3rem;
    margin: auto;
    /*text-align: center;*/
}

.form-element {
    /*width: 70%;*/
    /*float: left;*/
    margin: auto;
}

.button-group {
    margin-top: 4rem;
    text-align: center;
}

.button-group input {
    padding: 0.3rem 0.5rem ;
    margin-left: 3rem;
    margin-right:3rem;
}


.form-group input {
    padding: 0.7rem;
    width: 100%;
    margin-top: 0.7rem;
}

.button-login{
  background-color: #4CAF50;
  border: 1px solid rgba(189, 195, 199, 1.0);
  color: white;
  padding: 0.3rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: 1px solid rgba(189, 195, 199, 1.0);
  margin-left: 3em;
  margin-right: 3em;
}

.productContainer{
    /*margin-top: 3em;*/
    margin: auto;
    max-width: 1080px;
    padding: 0 25px;
}

.viewitem{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productinfo{
    flex-basis: 50%;
    min-width: 300px;
    padding: 20px;
    text-align: center;
}

.productinfo img{
    max-width: 100%;
    padding: 50px 0;
}

.smallContainer h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.smallContainer select{
    display: block;
    padding: 10px;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    margin:auto;
}

.smallContainer input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    /*margin-left: 3em;*/
    margin-top: 1.5em;
}

.smallContainer h3{
    margin-top: 1.5em;
}

.button-vproduct{
  background-color: #4CAF50;
  border: 1px solid rgba(189, 195, 199, 1.0);
  color: white;
  padding: 0.3rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: 1px solid rgba(189, 195, 199, 1.0);
  margin-left: 3em;
}

/*.item-nav{*/
/*    background-color: rgb(211,211,211);*/
/*    display: flex;*/
/*}*/

/*.item-nav ul {*/
/*    display: inline-flex;*/
/*    margin: auto auto*/
/*}*/

/*For bigger devices*/

@media (min-width: 850px) {
    /*.menu-wrap{*/
    /*}*/
    #burger-menu {
      display: none;
    }
    .menu-wrap * {
        margin: auto;
    }

    .menu-wrap h1{
        visibility: visible;
        display: flex;
        margin: auto auto;
        color: floralwhite;
    }
    .menu-icon {
        display: none;
    }

    nav {
        position: initial;

        /*position: relative;*/
        top: -10px;
        background-color: transparent;
        width: fit-content;

    }

    nav ul {
        max-height: 70px;
        /*display: flex;*/
        /*margin: auto auto;*/
        /*padding: 15px 0;*/
        text-align: right;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

    /*For the product page...still need to delete the repetitive stuff*/

    .products {
    position: relative;
    /*z-index: -1;*/
    top: 80px;
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em 3em;
}

    .product-box {
    /*width: 13vw;*/
    width: 32%;
    /*float: left;*/
    /*display: table-cell;*/
    /*padding: 0.5rem;*/
    /*margin: 1vw;*/
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgba(44, 62, 80, 1.0);
    margin-bottom: 0.5rem;
    }

    .product-box-heading {
    padding: 0.5rem;
    }

    .product-box-image {
        height: 150px;
        overflow: hidden;
    }

    .product-box-info {
        padding: 0.5rem;

    }

    .product-box h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    .product-box p {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .product-box a {
        border: 1px solid tomato;
        padding: 0.3rem;
        text-align: right;
    }

    /*  For the signup page  */
    .myform {
    width: 50%;
    margin: auto;
    /*padding-top: 3rem;*/
    margin-bottom: 1.5rem;
    }

    .form-group {
        padding-top: 3rem;
    }

    .form-label {
        width: 50%;
        /*float: left;*/
        padding: 0.3rem;
        margin: auto;
        text-align: center;
    }

    .form-element {
        width: 70%;
        /*float: left;*/
        margin: auto;
    }

    .button-group {
        margin-top: 4rem;
        text-align: center;
    }

    .button-group input {
        padding: 0.3rem 0.5rem ;
        margin-left: 3rem;
        margin-right:3rem;
    }


    .form-group input {
        padding: 0.3rem;
        width: 100%;
    }

/*    For the view item*/

    .productContainer{
    /*margin-top: 3em;*/
    margin: auto;
    max-width: 1080px;
    padding: 0 25px;
}

    .viewitem{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .productinfo{
        flex-basis: 50%;
        min-width: 300px;
        padding: 20px;
        text-align: center;
    }

    .productinfo img{
        max-width: 100%;
        padding: 50px 0;
    }

    .smallContainer h4{
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }

    .smallContainer select{
        display: block;
        padding: 10px;
        /*margin-top: 20px;*/
        /*margin-bottom: 20px;*/
        margin:auto;
    }

    .smallContainer input{
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        /*margin-left: 3em;*/
        margin-top: 1.5em;
    }

    .smallContainer h3{
        margin-top: 1.5em;
    }

}

/*For the items on sale*/
