{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}{% endblock %}

{%block product%}
<div class = 'product-nav'>
    <ul>
        <li><a href="/seniorUniform">Senior Uniform</a></li>
        <li><a href="/juniorUniform">Junior Uniform</a></li>
<!--        <li><a href="/">Both</a></li>-->
    </ul>
</div>
<div class = homepage-content>
    <h1>Welcome to the WC Uniform shop.</h1>
    <br>
    <br>
    <h2>Please select one of the tabs above to view the products.</h2>
</div>

{%endblock%}
