{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block main %}

<form class="myform" method="post">
    <div class="form-group">
        <div class="form-label"> <label for = 'email'>Email:</label> </div>
        <div class="form-element"><input id="email" name="email" type="email" required></div>
    </div>

    <div class="form-group">
        <div class="form-label"> <label for = 'password'>Password:</label></div>
        <div class="form-element"><input id="password" name="password" type="password" required></div>
    </div>
    <div class="button-group">
        <input type="submit" value="Submit" class = 'button-login' id = 'submit'> <a class="button-login" href="/signup" id = 'signup'>Sign up</a>
    </div>

</form>

{% endblock %}

