{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}
{% block main %}

<h2 class = register>Welcome! Please register</h2>

<form class="myform" method="post">
    <div class="form-group">
         <label for = 'fname' class = 'form-label'>First name:</label>
        <div class="form-element"><input id="fname" class="form-element" name="fname" type="text" placeholder="First Name" required></div>
    </div>

    <div class="form-group">
        <label for = 'lname' class = 'form-label'>Last name:</label>
        <div class="form-element"><input id="lname" name="lname" type="text" placeholder="Last Name" required></div>
    </div>

    <div class="form-group">
        <label for = 'email' class = 'form-label'>Email:</label>
        <div class="form-element"><input id="email" name="email" type="email" placeholder="Email" required></div>
    </div>

    <div class="form-group">
        <label for = 'password' class = 'form-label'>Password:</label>
        <div class="form-element"><input id="password" name="password" type="password" placeholder="Password" required></div>
    </div>

    <div class="form-group">
        <label for = 'password2' class = 'form-label'>Password(again):</label>
        <div class="form-element"><input id="password2" name="password2" type="password" placeholder="Password again" required></div>
    </div>

    <div class="button-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>


{% endblock %}