{% extends 'base.html' %}

{% block title %}View Product{% endblock %}
{% block main %}
<div class = 'productContainer'>
    <div class = smallContainer>
        <div class = viewitem>
            {% for uniformData in productData %}
            <div class = productinfo>
                <img src = "/static/images/{{ uniformData[3] }}" class = 'productimage' alt="Product image">
            </div>
            <div class = productinfo>




                    <form action='/addtocart/{{ uniformData[0]}}' method= 'post'>
                        <h1>{{uniformData[1]}}</h1>
                        <h4>${{ uniformData[4] }} EA</h4>


                        <label for = 'size'>Size:</label>
                        <select name = 'size' id = 'size'>
                            {% for sizeType in sizes %}
                                <option>{{sizeType}} </option>
                            {%endfor%}
                        </select>


                        <div class = test>
                         <label for = 'numIpt'>Quantity:</label>
                        <input type = 'text' value = '1' id = 'numIpt' name = 'quantity'>
                        </div>

                        <h3>Product Details</h3>
                        <br>
                        <p>{{ uniformData[5] }}</p>
                        {% endfor %}
                        <br>
                        {%if uniformType == 'juniorUniform' %}
                            <a href="/juniorUniform" class = return-button>Go back</a>
                            <a href="javascript:{}" onclick="this.closest('form').submit();return false;" class = button-vproduct id = 'view'>Add to Cart</a>
                        {%elif uniformType == 'seniorUniform'%}
                            <a href="/seniorUniform" class = return-button>Go back</a>
                            <a href="javascript:{}" onclick="this.closest('form').submit();return false;" class = button-vproduct >Add to Cart</a>
                        {%else%}
                            <a href="/" class = return-button>Go back</a>
                            <a href="javascript:{}" onclick="this.closest('form').submit();return false;" class = button-vproduct >Add to Cart</a>
                        {%endif%}
                    </form>

                    <script>


                        function ForNumbers(evt){
                            var charCode = (evt.which) ? evt.which : event.keyCode;

                            if (
                                //0~9
                                charCode >= 48 && charCode <= 57 ||
                                //number pad 0~9
                                charCode >= 96 && charCode <= 105 ||
                                //backspace
                                charCode == 8 ||
                                //tab
                                charCode == 9 ||
                                //enter
                                charCode == 13 ||
                                //left, right, delete..
                                charCode >= 35 && charCode <= 46
                            )
                            {
                                //make sure the new value below 20
                                if(parseInt(this.value+String.fromCharCode(charCode), 10) <= 20)
                                    return true;
                            }

                            evt.preventDefault();
                            evt.stopPropagation();

                            return false;
                        }

                        function isNumberKey(evt) {
                            var charCode = (evt.which) ? evt.which : event.keyCode;
                            console.log(charCode);
                            if (( charCode != 189))
                                return false;

                            return true;
                        }


                        document.getElementById('numIpt').addEventListener('keypress', ForNumbers, false);
                        document.getElementById('numIpt').addEventListener('keypress', isNumberKey, false);


                    </script>


            </div>
        </div>
    </div>
</div>


{% endblock %}

