{% extends 'base.html' %}

{% block title %}View Product{% endblock %}
{% block main %}
<div class = 'productContainer'>
    <div class = smallContainer>
        <div class = viewitem>
            <div class = productinfo>
                <img src = {{url_for('static', filename = 'images/python-test.jpg')}} class = 'productimage' alt="Product image">
            </div>
            <div class = productinfo>
                {%if uniform == "junioruniform"%}
                    {% for juniorUniform in productData %}
                    <h1>{{juniorUniform[0]}}</h1>
                    <h4>${{ juniorUniform[3] }} EA</h4>
                    <select>
                        {% for sizeType in sizes %}
                            <option>{{sizeType}} </option>
                        {%endfor%}
                    </select>

                    <div class = test>
                    <input type = 'number' value = '1'>
                    <a href="" class = button-vproduct>Add to Cart</a>
                    </div>

                    <h3>Product Details</h3>
                    <br>
                    <p>{{ juniorUniform[4] }}</p>
                    {% endfor %}
                    <br>
                    <a href="/juniorUniform" class = return-button>Go back</a>
                {%else%}
                    {% for seniorUniform in productData %}
                    <h1>{{seniorUniform[0]}}</h1>
                    <h4>${{ seniorUniform[3] }} EA</h4>
                    <select>
                        {% for sizeType in sizes %}
                            <option>{{sizeType}} </option>
                        {%endfor%}
                    </select>

                    <div class = test>
                    <input type = 'number' value = '1'>
                    <a href="" class = button-vproduct>Add to Cart</a>
                    </div>

                    <h3>Product Details</h3>
                    <br>
                    <p>{{ seniorUniform[4] }}</p>
                    {% endfor %}
                    <br>
                    <a href="/seniorUniform" class = return-button>Return</a>
                {%endif%}
            </div>
        </div>
    </div>
</div>


{% endblock %}

